<div class="row">
  <div class="col-xs-12">
    <% if @commits.blank? %>
      <div class="jumbotron">
        <h1>Well this is disappointing...</h1>
        <h2>It looks like these developers aren't as
          <% @selected_categories.map(&['name']).map { |category_name| category_name.humanize } %>-ed as you
          thought.</h2>
      </div>
    <% else %>
      <table class="table table-hover table-condensed table-responsive commits">
        <tbody id="commits_table_body">
        <%= render @commits %>
        </tbody>
      </table>
      <% begin %>
        <%= will_paginate @commits %>
      <% rescue Exception => e %>
        <% logger.error "Exception was encountered because of the shitty pagination gem. Fuck this. #{e}" %>
      <% end %>
    <% end %>
  </div>
</div>
