$('#commits_table_body').append('<%= escape_javascript render(@commits) %>');
<% if @commits.next_page %>
$('.pagination').replaceWith('<%= escape_javascript will_paginate(@commits) %>');
$.changeHighlighting();
<% else %>
$('.pagination').remove();
$.changeHighlighting();
$('#commits_table_body').append("<tr><td colspan='2'><h3 class='text-center well'>That's all, folks!</h3></td></tr>");
<% end %>