---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/scytherswings/toy_app/changesets?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2N5dGhlcnN3aW5nc0BnbWFpbC5jb206VXc0JVh4RTljV0c1c3JJZQ=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"058d763ca4d394c1667af32aaa35d74f"'
      X-Static-Version:
      - 241ebb21266f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.261625051498'
      X-Request-Count:
      - '557'
      X-Version:
      - 241ebb21266f
    body:
      encoding: ASCII-8BIT
      string: '{"count": 5, "start": null, "limit": 50, "changesets": [{"node": "39767db1de86",
        "files": [{"type": "added", "file": ".gitignore"}, {"type": "added", "file":
        "Gemfile"}, {"type": "added", "file": "Gemfile.lock"}, {"type": "added", "file":
        "README.rdoc"}, {"type": "added", "file": "Rakefile"}, {"type": "added", "file":
        "app/assets/images/.keep"}, {"type": "added", "file": "app/assets/javascripts/application.js"},
        {"type": "added", "file": "app/assets/stylesheets/application.css"}, {"type":
        "added", "file": "app/controllers/application_controller.rb"}, {"type": "added",
 [...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/users/scytherswings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2N5dGhlcnN3aW5nc0BnbWFpbC5jb206VXc0JVh4RTljV0c1c3JJZQ=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Static-Version:
      - 241ebb21266f
      Etag:
      - '"9f630d6be840beccfb11a76861989ab5"'
      X-Render-Time:
      - '0.0356960296631'
      X-Accepted-Oauth-Scopes:
      - account
      X-Version:
      - 241ebb21266f
      X-Request-Count:
      - '381'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2017-02-05T08:29:25.298", "no_forks": false, "created_on": "2017-01-29T11:39:48.208",
        "owner": "scytherswings", "logo": "https://bitbucket.org/scytherswings/jesseforhire/avatar/32/?ts=1486279765",
        "email_mailinglist": "", "is_mq": false, "size": 62964, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2017-01-29
        10:39:48+00:00", "website": "", "description": "Do I have to fill this out?",
        "has_issues": false, "is_fork": false, "slug": "jesseforhire", "is_private":
        true, "name": "jesseforhire", "language": "", "utc_last_updated": "2017-02-05
        07:29:25+00:00", "no_public_forks": true, "creator": null, "resource_uri":
        "/1.0/repositories/scytherswings/jesseforhire"}, {"scm": "git", "has_wiki":
        false, "last_updated": "2016-02-08T04:02:13.025", "no_forks": false, "created_on":
        "2016-02-07T19:43:11.400", "owner": "scytherswings", "logo": "https://bitbucket.org/scytherswings/indi/avatar/32/?ts=1454900533",
        "email_mailinglist": "", "is_mq": false, "size": 790757, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-02-07
        1[...]
[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/scytherswings/toy_app/changesets?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2N5dGhlcnN3aW5nc0BnbWFpbC5jb206VXc0JVh4RTljV0c1c3JJZQ=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d46f67db5061259b3714b57d16d6a785"'
      X-Static-Version:
      - 241ebb21266f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.0706548690796'
      X-Request-Count:
      - '25'
      X-Version:
      - 241ebb21266f
    body:
      encoding: UTF-8
      string: '{"count": 5, "start": null, "limit": 1, "changesets": [{"node": "f25fa166822e",
        "files": [{"type": "modified", "file": "app/models/micropost.rb"}, {"type":
        "modified", "file": "app/models/user.rb"}], "raw_author": "Andrew <scytherswings@gmail.com>",
        "utctimestamp": "2015-09-04 14:31:42+00:00", "author": "scytherswings", "timestamp":
        "2015-09-04 16:31:42", "raw_node": "f25fa166822eaf3f4b9dfeb78b0471db77c185e7",
        "parents": ["260dd9156617"], "branch": "master", "message": "Added more validation\n",
        "revision": null, "size": -1}]}'
  recorded_at: Wed, 22 Feb 2017 04:03:39 GMT
recorded_with: VCR 3.0.3
