---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/scytherswings/toy_app/changesets?limit=5&start=be9ef91dcf63fa438bcd274dddcba939aa591881
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2N5dGhlcnN3aW5nc0BnbWFpbC5jb206VXc0JVh4RTljV0c1c3JJZQ=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bdb0163e45b05a9436d370302b612a9e"'
      X-Static-Version:
      - c4a7121149e9
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.13773393631'
      X-Request-Count:
      - '188'
      X-Version:
      - c4a7121149e9
    body:
      encoding: ASCII-8BIT
      string: '{"count": 5, "start": "be9ef91dcf63fa438bcd274dddcba939aa591881", "limit":
        5, "changesets": [{"node": "39767db1de86", "files": [{"type": "added", "file":
        ".gitignore"}, {"type": "added", "file": "Gemfile"}, {"type": "added", "file":
        "Gemfile.lock"}, {"type": "added", "file": "README.rdoc"}, {"type": "added",
        "file": "Rakefile"}, {"type": "added", "file": "app/assets/images/.keep"},
        {"type": "added", "file": "app/assets/javascripts/application.js"}, {"type":
        "added", "file": "app/assets/stylesheets/application.css"}, {"type": "added",
        "file": "app/controllers/application_controller.rb"}, {"type": "a[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/users/scytherswings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2N5dGhlcnN3aW5nc0BnbWFpbC5jb206VXc0JVh4RTljV0c1c3JJZQ=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Static-Version:
      - c4a7121149e9
      Etag:
      - '"5d4a116beb2a6171e32ac3294333b0b0"'
      X-Render-Time:
      - '0.0290789604187'
      X-Accepted-Oauth-Scopes:
      - account
      X-Version:
      - c4a7121149e9
      X-Request-Count:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2017-02-05T08:29:25.298", "no_forks": false, "created_on": "2017-01-29T11:39:48.208",
        "owner": "scytherswings", "logo": "https://bitbucket.org/scytherswings/jesseforhire/avatar/32/?ts=1486279765",
        "email_mailinglist": "", "is_mq": false, "size": 62964, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2017-01-29
        10:39:48+00:00", "website": "", "description": "Do I have to fill this out?",
        "has_issues": false, "is_fork": false, "slug": "jesseforhire", "is_private":
        true, "name": "jesseforhire", "language": "", "utc_last_updated": "2017-02-05
        07:29:25+00:00", "no_public_forks": true, "creator": null, "resource_uri":
        "/1.0/repositories/scytherswings/jesseforhire"}, {"scm": "git", "has_wiki":
        false, "last_updated": "2016-02-08T04:02:13.025", "no_forks": false, "created_on":
        "2016-02-07T19:43:11.400", "owner": "scytherswings", "logo": "https://bitbucket.org/scytherswings/indi/avatar/32/?ts=1454900533",
        "email_mailinglist": "", "is_mq": false, "size": 790757, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-02-07
        1[...]
