CONFIG_URI="somebucketname/configuration"
REDIS_STORE_URI="someredisthing.asdfsg.0001.use1.cache.amazonaws.com:6379"
SECRET_KEY_BASE="reallylongsecretkeybasething"
SIDEKIQ_REDIS_URI="otherredisthing.gerhehe.0001.use1.cache.amazonaws.com:6379"
RDS_DB_NAME="somerdsdbname"
RDS_USERNAME="somerdsusername"
RDS_PASSWORD="someawesomepassword"
RDS_HOSTNAME="gibberish.garbagehostname.us-east-1.rds.amazonaws.com"
RDS_PORT="5432"
SIDEKIQ_PASSWORD="excellentpassword"
BB_USERNAME="somebitbucketUsername"
BB_PASSWORD="somebitbucketpassword"
ADMIN_PASSWORD="goodpasswordheretoo"