<div class="row">
  <div class="page-header">
    <h1><%= @repository.name %></h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" id="repository_users">
      <tbody>
      <%= render @users %>
      </tbody>
    </table>
    <% begin %>
      <%= will_paginate @users %>
    <% rescue Exception => e %>
      <% logger.error "Exception was encountered because of the shitty pagination gem. Fuck this. #{e}" %>
    <% end %>
  </div>
  <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default' %>
</div>
