<div class="row">

    <h1><%= @repository.name %></h1>
  <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default' %>

  <div class="table-responsive">
    <table class="table table-hover sortable" id="repository_users">
      <thead>
      <tr>
        <th>User</th>
        <th>Commits</th>
        <th>Latest&nbsp;Commit</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <%= render @users, include_extra_commit_info: true %>
      </tbody>
    </table>
      <%= will_paginate @users, include_extra_commit_info: true  %>
  </div>

</div>
