<div class="page-header">
  <%= link_to white_list_words_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New white_list_word</h1>
</div>

<%= render 'form' %>
