commands:
  touch_db_config_files:
    command: "touch /tmp/beanstalk-database-stage.json; touch /tmp/beanstalk-database-prod.json"
  create_db_config_if_not_exist_stage:
    command: "aws s3 sync /tmp/ s3://cfln-stage/configuration/ --exclude '*' --include 'beanstalk-database-stage.json'"
    ignoreErrors: true
  create_db_config_if_not_exist_prod:
    command: "aws s3 sync /tmp/ s3://cfln-prod/configuration/ --exclude '*' --include 'beanstalk-database-prod.json'"
    ignoreErrors: true