commands:
  01_set_tmp_permissions:
    command: "mkdir -p /var/app/ondeck/tmp; chmod -R 777 /var/app/ondeck/tmp"
    ignoreErrors: true
  02_set_opt_rubies_permissions:
    command: "chmod -R 777 /opt/rubies/"
  03_create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true