# Create .env files
container_commands:
  01_update_env_config_files:
    command: "aws s3 cp s3://$CONFIG_URI/.env ."
    ignoreErrors: true
  02_touch_env_config_files:
    command: "touch .env; chown webapp:webapp .env"
  03_set_opt_rubies_permissions:
    command: "chmod -R 777 /opt/rubies/"
  04_rake_sync_dotenv:
    command: rake sync_dotenv\[.env\]
  05_create_env_config_if_not_exist:
    command: "aws s3 sync . s3://$CONFIG_URI/ --exclude '*' --include '.env'"
    ignoreErrors: true
  06_conditional_rake_db_seed:
    command: "rake conditional_db_seed"
    leader_only: true