commands:
  touch_env_config_files:
    command: "touch /var/app/current/.env"
  sync_env_with_dotenv:
    command: "ruby /var/app/current/lib/deploy/sync_env_vars_with_dotenv.rb /var/app/current/.env"
  create_env_config_if_not_exist:
    command: "aws s3 sync /var/app/current/ s3://$CONFIG_URI/ --exclude '*' --include '.env'"
    ignoreErrors: true