#files:
#  "/opt/elasticbeanstalk/hooks/appdeploy/post/43_sync_env_to_s3.sh":
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/usr/bin/env bash
#      . /opt/elasticbeanstalk/support/envvars
#
#      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
#      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
#      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
#      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
#      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
#
#      . $EB_SUPPORT_DIR/envvars
#      . $EB_SCRIPT_DIR/use-app-ruby.sh
#      . /opt/elasticbeanstalk/support/envvars.d/sysenv
#
#      cd $EB_APP_DEPLOY_DIR
#
#      echo "Syncing S3 and .env to ENV variables"
#      su - $EB_APP_USER -c "yes | gem install dotenv; ruby .deploy/sync_env_vars_with_dotenv.rb $EB_APP_DEPLOY_DIR/.env"
container_commands:
  sync_dotenv:
    command: rake sync_dotenv $(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir).env

commands:
  create_env_config_if_not_exist:
    command: "aws s3 sync /var/app/current/ s3://$CONFIG_URI/ --exclude '*' --include '.env'"
    ignoreErrors: true