files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/60_make_secrets.sh":
    mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        SECRETS="config/secrets.yml"
        SECRET="$(bundle exec rake secret)"
        echo -e "production:\n  secret_key_base: " $SECRET "\n" >> $SECRETS
        export SECRET_KEY_BASE=$SECRET