<h1>All Users</h1>

<div class="table-responsive">
  <table class="table table-hover table-condensed" id="users">
    <tbody>
    <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>
