<div class="page-header">
  <%= link_to words_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_word_path(@word), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show word</h1>
</div>

<dl class="dl-horizontal">
  <dt>Word:</dt>
  <dd><%= @word.word %></dd>

</dl>
