.avatar_header {
  position: relative;
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
  margin: 0;
}

mark.hoverable {
  background: none;
  padding: 0;
}

table.commits {
  word-wrap: break-word;
  table-layout: fixed;
  border: none;
}