.avatar_header {
  position: relative;
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
  margin: 0;
}

mark.hoverable {
  background: none;
}

td:hover > mark.hoverable  {
  background: yellow;
}